.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
  }


  .navbar {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.879), rgb(0, 255, 17));
    transition: background-color 1500ms ease-in;}
  

  /*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-icon {
  position: relative;
  margin: -50px 0 25px 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #FFFFFF;
  border-radius: 100px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover .service-icon {
  color: #FFFFFF;
  background: var(--primary);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.news-content h5 {
  margin-right: 100px;
}

a {
  text-decoration: none;
}
